.header {
  height: 30px;
  background: rgba(255, 255, 255, 0.12);
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  &__content {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 144rem;
    max-width: 100%;
    margin: auto;
    padding-left: 2rem;
    .MuiSvgIcon-root {
      padding-right: 2px;
      cursor: pointer;
    }
    &-title {
      font-size: 9px;
      font-weight: 500;
      letter-spacing: 0.75px;
      color: #fff;
    }
  }
}
