.button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: #fff;
  padding: 15px 82.5px 14px;
  border-radius: 3px;
  background-color: #317bda;
  height: 45px;
  border: none;
}
