@use "./Header/Header.scss";
@use "./Login/Login.scss";
@use "./Button/Button.scss";
@use "./Footer/Footer.scss";
@use "./Car/Car.scss";
@use "./Quote/Quote.scss";
@use "./Quote/PlanCard/PlanCard.scss";

body {
  height: 100vh;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  #root {
    background: linear-gradient(122deg, #317bda -6%, #33c3c8);
    height: 100vh;
  }
}
