@use "./Header/Header.scss";
@use "./Login/Login.scss";
@use "./Button/Button.scss";
@use "./Footer/Footer.scss";
@use "./Car/Car.scss";
@use "./Quote/Quote.scss";
@use "./Quote/PlanCard/PlanCard.scss";
@use "./Background/Background.scss";

html {
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: Roboto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  #root {
    height: inherit;
  }
}
